doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
   
    block scripts
      script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly' defer)
      script(type='text/javascript' src="/javascripts/maps.js")
      script(type='text/javascript' src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly") 
    
  body
    block content

    block map